@import 'src/assets/scss/var.scss';

::ng-deep .ang-preview-wrap {
  .ang-preview {
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;

    .anticon {
      font-size: 24px;
    }

    .ant-modal-close-x {
      color: rgba($white, .5);

      &:hover {
        color: $white;
      }
    }

    .ant-modal-content {
      height: 100%;
      background-color: transparent;
    }

    .ant-modal-body {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .ant-carousel {
      @include alignCenter;

      .slick-slider .slick-track {
        @include alignCenter;
        min-width: 100% !important;
      }

      .slick-initialized {
        .slick-slide {
          @include flexCenter;
          overflow: hidden;
        }
      }
    }

    .ang-preview-btn {
      @include flexCenter;
      flex: 0 0 60px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      cursor: pointer;
      color: rgba($white, .5);
      background-color: rgba($white, .2);

      &-prev {
        margin-right: 20px;
      }

      &-next {
        margin-left: 20px;
      }

      &:hover {
        color: $white;
        background-color: rgba($white, .5);
      }
    }
  }
}
