// 混入居中
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin alignItems($type: center) {
  display: flex;
  align-items: $type;
}

@mixin justifyContent($type: center) {
  display: flex;
  justify-content: $type;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin beforeAfter {
  content: '';
  display: block;
  height: 0;
  width: 0;
}