<div class="breadcrumb">
  <nz-breadcrumb [nzAutoGenerate]="true">
  </nz-breadcrumb>
</div>

<div class="layout-content">
  <h3>基础用法</h3>
  <div class="button-list">
    <div class="button-list-item">
      <ang-button>默认按钮</ang-button>
      <ang-button type="primary">普通按钮</ang-button>
      <ang-button type="success">成功按钮</ang-button>
      <ang-button type="warning">警告按钮</ang-button>
      <ang-button type="danger">危险按钮</ang-button>
      <ang-button type="info">信息按钮</ang-button>
    </div>
    <div class="button-list-item">
      <ang-button [disabled]="true">默认按钮</ang-button>
      <ang-button type="primary" [disabled]="true">普通按钮</ang-button>
      <ang-button type="success" [disabled]="true">成功按钮</ang-button>
      <ang-button type="warning" [disabled]="true">警告按钮</ang-button>
      <ang-button type="danger" [disabled]="true">危险按钮</ang-button>
      <ang-button type="info" [disabled]="true">信息按钮</ang-button>
    </div>
  </div>

  <markdown>{{baseMarkdown}}</markdown>

  <h3>带icon图标</h3>
  <div class="button-list">
    <div class="button-list-item">
      <ang-button loading="true">默认按钮</ang-button>
      <ang-button type="primary">
        <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
        <span>普通按钮</span>
      </ang-button>
      <ang-button type="success" icon="check-circle">成功按钮</ang-button>
      <ang-button type="warning" icon="warning">警告按钮</ang-button>
      <ang-button type="danger" icon="stop">危险按钮</ang-button>
      <ang-button type="info" icon="info-circle">信息按钮</ang-button>
    </div>
  </div>

  <markdown>{{iconMarkdown}}</markdown>

  <h3>size、shape用法</h3>
  <div class="button-list">
    <div class="button-list-item">
      <ang-button shape="circle" icon="search"></ang-button>
      <ang-button type="primary" size="small">普通下按钮</ang-button>
      <ang-button type="success" size="large">成功大按钮</ang-button>
      <ang-button shape="circle" size="large" type="warning">
        <i nz-icon nzType="warning" nzTheme="outline"></i>
      </ang-button>
      <ang-button type="danger" size="large">危险按钮</ang-button>
      <ang-button type="info" size="large">信息按钮</ang-button>
    </div>
  </div>

  <markdown>{{sizeMarkdown}}</markdown>

  <h3>幽灵按钮</h3>
  <div class="button-list button-ghost-list">
    <div class="button-list-item">
      <ang-button [ghost]="true">默认按钮</ang-button>
      <ang-button type="primary" [ghost]="true">普通按钮</ang-button>
      <ang-button type="success" [ghost]="true">成功按钮</ang-button>
      <ang-button type="warning" [ghost]="true">警告按钮</ang-button>
      <ang-button type="danger" [ghost]="true">危险按钮</ang-button>
      <ang-button type="info" [ghost]="true">信息按钮</ang-button>
    </div>
    <div class="button-list-item">
      <ang-button [ghost]="true" [disabled]="true">默认按钮</ang-button>
      <ang-button type="primary" [ghost]="true" [ghost]="true" [disabled]="true">普通按钮</ang-button>
      <ang-button type="success" [ghost]="true" [disabled]="true">成功按钮</ang-button>
      <ang-button type="warning" [ghost]="true" [disabled]="true">警告按钮</ang-button>
      <ang-button type="danger" [ghost]="true" [disabled]="true">危险按钮</ang-button>
      <ang-button type="info" [ghost]="true" [disabled]="true">信息按钮</ang-button>
    </div>
  </div>

  <markdown>{{ghostMarkdown}}</markdown>

</div>
