<div class="breadcrumb">
  <nz-breadcrumb [nzAutoGenerate]="true">
  </nz-breadcrumb>
</div>

<div class="layout-content">
  <button nz-button nzType="primary" nzSize="small" (click)="handleChange()">改变随机值</button>
  <div>
    <ang-countup [endVal]="value"></ang-countup>
  </div>
  <div>
    <markdown ngPreserveWhitespaces>
      # markdown
      ```bash
      ##sdsd
      <div>是多少</div>


      1. 是多少
      2. 是的
      ```

      ```typescript
      const myProp: string = 'value';
      ```
    </markdown>
  </div>
</div>
