/* You can add global styles to this file, and also import other style files */
.breadcrumb {
  padding: 10px 20px;
  background-color: #ffffff;
}

.layout-content {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
}
